<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <link rel="stylesheet" href="/static/bootstrap/dist/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container col-md-6 mt-4">
            <div class="modal" id="mymodel">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3  class="text-center ">Edit Student Record</h3>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body">
                            <form >
                                <div class="form-group">
                                    <input type="hidden" name="id_" value="{{id_}}"> 
                                </div>
                                <div class="form-group">
                                    
                                    <label for="">Name</label>
                                    <input class="form-control" type="text" name="txtName" id="txtName" value="">
                                </div>
                                <div class="form-group">
                                    <label for="">Grade</label>
                                    <input class="form-control" type="text" name="txtGrade" id="txtGrade" value="">
                                </div>
                                <div class="form-group">
                                    <label for="">Faculty</label>
                                    <input class="form-control" type="text" name="txtFaculty" id="txtFaculty" value="">
                                </div>
                                <div class="form-group">
                                    <label for="">Section</label><br>
                                    <input class="btn" type="radio" name="btnSection" value="A" id="section_A">A 
                                    <input class="btn" type="radio" name="btnSection" value="B" id="section_B">B 
                                </div>
                                <div class="form-group">
                                    <label for="">Roll_no</label>
                                    <input class="form-control" type="text" name="txtRoll" id="txtRoll" value="">
                                </div>
                                <div class="form-group">
                                    <label for="">Age</label>
                                    <input class="form-control" type="text" name="txtAge" id="txtAge" value="">
                                </div>
                                <div class="form-group">
                                    <label for="">Gender</label><br>
                                    <input class="btn" type="radio" name="btnGender" value="M" id="gender_M">Male 
                                    <input class="btn" type="radio" name="btnGender" value="F" id="gender_F">Female 
                                </div>
                                <div class="form-group">
                                    <label for="">Address</label>
                                    <input class="form-control" type="text" name="txtAddress" id="txtAddress" value="">
                                </div>
                                <div class="form-group">
                                    <label for="">Parent_name</label>
                                    <input class="form-control" type="text" name="txtParent" id="txtParent" value="">
                                </div>
                                
                            </form>
                        </div>
                        <div class="modal-footer">
                            <input class="btn btn-primary mt-2" type="button" value="submit" onclick="edit_post()">
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </body>
    <script type="text/javascript" src="/static/jquery/jquery.min.js"> </script>
    <script type="text/javascript">
        var section = "{{section}}";
            if (section == 'A'){
                document.getElementById("section_A").checked = true;
            }
            else{
                document.getElementById("section_B").checked = true;
            }
            
        var gender = "{{gender}}";
            if (gender == 'M'){
                document.getElementById("gender_M").checked = true;
            }
            else{
                document.getElementById("gender_F").checked = true;
            }
        
        $(document).ready(function(){
            $.ajax({
                type: "GET",
                url: '/student/detail/'+ "{{id_}}",
                data: JSON.stringify({}),
                contentType: "application/json; charset=utf-8",
                dataType: "json"
            }).done(function (response) {
                console.log(response);
                    $("#txtName").val(response.name);
                    $("#txtGrade").val(response.grade);
                    $("#txtFaculty").val(response.faculty);
                    $("#btnSection").val(response.section);
                    $("#txtRoll").val(response.roll_no);
                    $("#txtAge").val(response.age);
                    $("#btnGender").val(response.gender);
                    $("#txtAddress").val(response.address);
                    $("#txtParent").val(response.parent_name);
                // alert(response.msg)
                // window.location.href = "/list"
    
            }).fail(function (jqXHR, textStatus )  {
                //error log
            });

        });

        function edit_post(){
            
            var section = "";
            if (document.getElementById("section_A").checked == true){
                section  = "A"
            }
            else{
                section  = "B"
            }
            
        var gender = "";
            if (document.getElementById("gender_M").checked == true){
                gender = "M"
            }
            else{
                gender = "F"
            }
        
            var student_data = {
                        "id_"        : "{{id_}}",
                        "name"       :  $("#txtName").val(),
                        "grade"      :  $("#txtGrade").val(),
                        "faculty"    :  $("#txtFaculty").val(),
                        "section"    :  section,
                        "roll_no"    :  $("#txtRoll").val(),
                        "age"        :  $("#txtAge").val(),
                        "gender"     :  gender,
                        "address"    :  $("#txtAddress").val(),
                        "parent_name":  $("#txtParent").val()
                    }
                console.log(student_data)
            $.ajax({
                type: "POST",
                url: '/edit',
                data: JSON.stringify(student_data),
                contentType: "application/json; charset=utf-8",
                dataType: "json"
            }).done(function (response) {
                console.log(response)
                alert(response.msg)
                window.location.href = "/list"
    
            }).fail(function (jqXHR, textStatus )  {
                //error log
            });
            
            
        }    
            
        

        
        
        
    </script>
</html>