
<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="/static/bootstrap/dist/css/bootstrap.min.css">
</head>
<body>
    
    <div class="container mt-4">
        

        <div class="float-right mb-2">
            <button class="btn btn-primary"  data-target="#mymodel" data-toggle="modal">New</button>
        </div>
        <!-- modal for student add -->
        <div class="modal fade" id="mymodel">
                <div class="modal-dialog modal-dialog-centered modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3  class="text-center ">Add New Student Record</h3>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body">
                            <form >
                                <div class="form-group">
                                    <label for="">Name</label>
                                    <input class="form-control" type="text" name="txtName" id="txtName">
                                </div>
                                <div class="form-group">
                                    <label for="">Grade</label>
                                    <input class="form-control" type="text" name="txtGrade" id="txtGrade">
                                </div>
                                <div class="form-group">
                                    <label for="">Faculty</label>
                                    <input class="form-control" type="text" name="txtFaculty" id="txtFaculty">
                                </div>
                                <div class="form-group">
                                    <label for="">Section</label><br>
                                    <input class="btn" type="radio" name="btnSection" value="A" id="btnSection">A 
                                    <input class="btn" type="radio" name="btnSection" value="B" id="btnSection">B 
                                </div>
                                <div class="form-group">
                                    <label for="">Roll_no</label>
                                    <input class="form-control" type="text" name="txtRoll" id="txtRoll">
                                </div>
                                <div class="form-group">
                                    <label for="">Age</label>
                                    <input class="form-control" type="text" name="txtAge" id="txtAge">
                                </div>
                                <div class="form-group">
                                    <label for="">Gender</label><br>
                                    <input class="btn" type="radio" name="btnGender" value="M" id="btnGender">Male 
                                    <input class="btn" type="radio" name="btnGender" value="F" id="btnGender">Female 
                                </div>
                                <div class="form-group">
                                    <label for="">Address</label>
                                    <input class="form-control" type="text" name="txtAddress" id="txtAddress">
                                </div>
                                <div class="form-group">
                                    <label for="">Parent_name</label>
                                    <input class="form-control" type="text" name="txtParent" id="txtParent">
                                </div>
                                
                            </form>
                        </div>
                        <div class="modal-footer justify-content-center">
                            
                                <input class="btn btn-primary mt-2" data-dismiss="modal" type="button" name="" value="submit" onclick="add_post()">
                            
                        </div>
                    </div>
                </div>
            </div>
        <h3>List of Students</h3>
        <table class="table table-hover" id="dlt">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Grade</th>
                        <th>Faculty</th>
                        <th>Section</th>
                        <th>Roll_no</th>
                        <th>Age</th>
                        <th>Gender</th>
                        <th>Address</th>
                        <th>Parent_name</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for student in students %}
                    <tr>
                        <td>{{student.id_}}</td>
                        <td>{{student.name}}</td>
                        <td>{{student.grade}}</td>
                        <td>{{student.faculty}}</td>
                        <td>
                            
                                {{ student.section }}
                            
                        </td>
                        <td>{{student.roll_no}}</td>
                        <td>{{student.age}}</td>
                        <td>
                            
                                {{ student.gender}}
                          
                        </td>
                        <td>{{student.address}}</td>
                        <td>{{student.parent_name}}</td>
                        <td>
                            <a class="btn btn-primary editbtn" href="#" onclick="get_Detail('{{student.id_}}')">Edit</a>
                            <a class="btn btn-primary" href="#" type="button" name="" value="submit" onclick="delete_get('{{student.id_}}')">X</a>
                            
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <!-- modal for studentEditModal  -->
            <div class="modal fade" id="studentEditModal">
                <div class="modal-dialog modal-dialog-centered modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3  class="text-center ">Edit Student Record</h3>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <form  id="editFormID">
                            <div class="modal-body">
                            
                                <div class="form-group">
                                    <input type="hidden" name="id_" id="id_" > 
                                </div>
                                <div class="form-group">
                                    
                                    <label for="">Name</label>
                                    <input class="form-control" type="text" name="txtName" id="edttxtName" >
                                </div>
                                <div class="form-group">
                                    <label for="">Grade</label>
                                    <input class="form-control" type="text" name="txtGrade" id="edttxtGrade" >
                                </div>
                                <div class="form-group">
                                    <label for="">Faculty</label>
                                    <input class="form-control" type="text" name="txtFaculty" id="edttxtFaculty" >
                                </div>
                                <div class="form-group">
                                    <label for="">Section</label><br>
                                    <input class="btn" type="radio" name="btnSection" value="A" id="section_A">A 
                                    <input class="btn" type="radio" name="btnSection" value="B" id="section_B">B 
                                </div>
                                <div class="form-group">
                                    <label for="">Roll_no</label>
                                    <input class="form-control" type="text" name="txtRoll" id="edttxtRoll" >
                                </div>
                                <div class="form-group">
                                    <label for="">Age</label>
                                    <input class="form-control" type="text" name="txtAge" id="edttxtAge" >
                                </div>
                                <div class="form-group">
                                    <label for="">Gender</label><br>
                                    <input class="btn" type="radio" name="btnGender" value="M" id="gender_M">Male 
                                    <input class="btn" type="radio" name="btnGender" value="F" id="gender_F">Female 
                                </div>
                                <div class="form-group">
                                    <label for="">Address</label>
                                    <input class="form-control" type="text" name="txtAddress" id="edttxtAddress" >
                                </div>
                                <div class="form-group">
                                    <label for="">Parent_name</label>
                                    <input class="form-control" type="text" name="txtParent" id="edttxtParent" >
                                </div>
                             
                            </div>
                        </form>
                        
                        <div class="modal-footer" >
                            <input class="btn btn-primary mt-2" type="submit" value="Student Data Updated" onclick="edit_post()">
                        </div>
                    </div>
                </div>
            </div>
            
            
    </div>
</body>
<script type="text/javascript" src="/static/jquery/jquery.min.js"> </script>
  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <!-- Popper JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <!-- <script type="text/javascript" src="js/bootstrap.js"></script> -->
    <script type="text/javascript">
        // To post add in list page 
        function add_post(){
            var student_data = {
                "name"       :  $("#txtName").val(),
                "grade"      :  $("#txtGrade").val(),
                "faculty"    :  $("#txtFaculty").val(),
                "section"    :  $("#btnSection").val(),
                "roll_no"    :  $("#txtRoll").val(),
                "age"        :  $("#txtAge").val(),
                "gender"     :  $("#btnGender").val(),
                "address"    :  $("#txtAddress").val(),
                "parent_name":  $("#txtParent").val()
                }
                // console.log(student_data)
            $.ajax({
                type: "POST",
                url: '/add',
                data: JSON.stringify(student_data),
                contentType: "application/json; charset=utf-8",
                dataType: "json"
                }).done(function (response) {
                    console.log(response)
                    alert(response.msg)
                    location.reload();
                    // window.location.href = "/list"
            
                }).fail(function (jqXHR, textStatus )  {
                        //error log
                });
                    
                    
            }


        // To make radio button load while edit our data
        // var section = "{{section}}";
        //     if (section == 'A'){
        //         document.getElementById("section_A").checked = true;
        //     }
        //     else{
        //         document.getElementById("section_B").checked = true;
        //     }
            
        // var section = "{{gender}}";
        //     if (section == 'M'){
        //         document.getElementById("gender_M").checked = true;
        //     }
        //     else{
        //         document.getElementById("gender_F").checked = true;
        //     }
        
        // This function make data load in form while we click in edit button 
       
        function get_Detail(id_){

            $.ajax({
                type: "GET",
                url: '/student/detail/'+ id_,
                data: JSON.stringify({}),
                contentType: "application/json; charset=utf-8",
                dataType: "json"
            }).done(function (response) {
                console.log(response);
                var section = response.section;
                    if (section == 'A'){
                        document.getElementById("section_A").checked = true;
                    }
                    else{
                        document.getElementById("section_B").checked = true;
                    }
                    
                var gender = response.gender;
                    if (gender == 'M'){
                        document.getElementById("gender_M").checked = true;
                    }
                    else{
                        document.getElementById("gender_F").checked = true;
                    }
                    $("#id_").val(id_)
                    $("#edttxtName").val(response.name);
                    $("#edttxtGrade").val(response.grade);
                    $("#edttxtFaculty").val(response.faculty);
                    $("#edtbtnSection").val(response.section);
                    $("#edttxtRoll").val(response.roll_no);
                    $("#edttxtAge").val(response.age);
                    $("#edtbtnGender").val(response.gender);
                    $("#edttxtAddress").val(response.address);
                    $("#edttxtParent").val(response.parent_name);
                    $("#studentEditModal").modal('show')
                // alert(response.msg)
                // window.location.href = "/list"
    
            }).fail(function (jqXHR, textStatus )  {
                //error log
            });

        }

      
        // This function submit the edited data and show in list
        function edit_post(){
            
            var section = "";
            if (document.getElementById("section_A").checked == true){
                section  = "A"
            }
            else{
                section  = "B"
            }
            
        var gender = "";
            if (document.getElementById("gender_M").checked == true){
                gender = "M"
            }
            else{
                gender = "F"
            }
        
        var student_data = {
                        "id_"        : $("#id_").val(),
                        "name"       :  $("#edttxtName").val(),
                        "grade"      :  $("#edttxtGrade").val(),
                        "faculty"    :  $("#edttxtFaculty").val(),
                        "section"    :  section,
                        "roll_no"    :  $("#edttxtRoll").val(),
                        "age"        :  $("#edttxtAge").val(),
                        "gender"     :  gender,
                        "address"    :  $("#edttxtAddress").val(),
                        "parent_name":  $("#edttxtParent").val()
                    }
                console.log(student_data)
            $.ajax({
                type: "POST",
                url: '/edit',
                data: JSON.stringify(student_data),
                contentType: "application/json; charset=utf-8",
                dataType: "json"
            }).done(function (response) {
                console.log(response)
                alert(response.msg)
                location.reload();
                // window.location.href = "/list"
    
            }).fail(function (jqXHR, textStatus )  {
                //error log
            });
            
            
        }    
        // This function delete the row which you selected
        function delete_get(id_){
            // var student_data = {
            //             "name"       :  $("#txtName").val(),
            //             "grade"      :  $("#txtGrade").val(),
            //             "faculty"    :  $("#txtFaculty").val(),
            //             "section"    :  $("#btnSection").val(),
            //             "roll_no"    :  $("#txtRoll").val(),
            //             "age"        :  $("#txtAge").val(),
            //             "gender"     :  $("#btnGender").val(),
            //             "address"    :  $("#txtAddress").val(),
            //             "parent_name":  $("#txtParent").val()
            //         }
            //     console.log(student_data)
            $.ajax({
                type: "GET",
                url: '/delete/' + id_,
                data: JSON.stringify({}),
                contentType: "application/json; charset=utf-8",
                dataType: "json"
            }).done(function (response) {
                console.log(response);
                alert(response.msg);
                location.reload();
                // window.location.href = "/list"
    
            }).fail(function (jqXHR, textStatus )  {
                //error log
            });
            
            
        }
         
    </script>
</html>